*.symlink
output/
regress_result/
google
checkpoints
huggingface_models
openai
__pycache__/
.vscode/
kv-venv/
data/
pt_result/
EEdit/
.claude/
.gradio/
smoke_test_output/
settings.json
*.safetensors
*.pth
test_output/**
old_test_output/**
