einops
fire
gradio
hpsv2x
huggingface_hub
image_reward
invisible_watermark
matplotlib
numpy
opencv_python
pandas
Pillow
Requests
safetensors
scikit_learn
scipy
scikit-image
open_clip_torch
clip
torch
torchmetrics
torchvision
tqdm
transformers
